---
layout: default
permalink: recent/
---

{% assign posts = site.posts %}
{% assign empty_array = '' | split: '' %}


{% for post in posts %}
  {% if post.modified_date %}
    {% assign empty_array = empty_array | push: post %}
  {% endif %}
{% endfor %}

{% assign empty_array = empty_array | sort:'modified_date' | reverse %}

<h2 id="recent-h2">최근 변경된 문서</h2>
<ul class="post-list">
    {% for recent in empty_array %}
        <li>
            <span class="post-meta">{{ recent.modified_date }}</span>
            <h3>
                <a class="post-link" href="{{ recent.url }}">
                    {{ recent.title | escape }}
                </a>
            </h3>
        </li>
    {% endfor %} 
</ul>