---
layout: default
---

<div class="home">
  {% assign posts = site.posts %}

  {% assign empty_array = '' | split: '' %}

  {% for post in posts %}
    {% if post.modified_date %}
      {% assign empty_array = empty_array | push: post %}
    {% endif %}
  {% endfor %}

  {% assign empty_array = empty_array | sort:'modified_date' | reverse %}

    <ul class="recent-ul">
      <h3 class="recent-h">최근 변경된 문서</h3>

      {% for recent in empty_array limit: 10 %}
        <li id="recent-li">
          <span class="post-meta">
            {{ recent.modified_date }} -
          </span>
          <a href="{{ recent.url }}">
            {{ recent.title | escape }}
          </a>
        </li>
      {% endfor %}

      <h4 id="recent-h4" class="recent-h">
        <a href="/recent">
          변경된 전체 문서 ({{ empty_array.size }})
        </a>
      </h4>
    </ul>

  {% if site.paginate %}
    {% assign posts = paginator.posts %}
  {% else %}
    {% assign posts = site.posts %}
  {% endif %}

  {%- if posts.size > 0 -%}
    {%- if page.list_title -%}
      <h2 class="post-list-heading">{{ page.list_title }}</h2>
    {%- endif -%}
    <ul class="post-list">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      {%- for post in posts -%}
      <li>
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

    {% if site.paginate %}
      <div class="pager">
        <ul class="pagination">
        {%- if paginator.previous_page %}
          <li>
            <a href="/" class="previous-page">
              <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-chevron-double-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8.354 1.646a.5.5 0 0 1 0 .708L2.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
                <path fill-rule="evenodd" d="M12.354 1.646a.5.5 0 0 1 0 .708L6.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
              </svg>
            </a>
          </li>
          <li>
            <a href="{{ paginator.previous_page_path | relative_url }}" 
            class="previous-page">{{ paginator.previous_page }}</a>
          </li>
        {%- else %}
          <!-- <li><div class="pager-edge">•</div></li> -->
        {%- endif %}
          <li>
            <div class="current-page">{{ paginator.page }}</div>
          </li>
        {%- if paginator.next_page %}
          <li>
            <a href="{{ paginator.next_page_path | relative_url }}" 
            class="next-page">{{ paginator.next_page }}</a>
          </li>
          <li>
            <a href="/page{{ paginator.total_pages }}" class="next-page">
               <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-chevron-double-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z"/>
                <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z"/>
              </svg>
            </a>
          </li>
        {%- else %}   
          <!-- <li><div class="pager-edge">•</div></li> -->
        {%- endif %}
        </ul>
      </div>
    {%- endif %}

  {%- endif -%}

</div>